*{font-size:12px;}

QComboBox{font-weight:bold;color: #fff;background-color:#000;border:none;padding:0 5px;}
QComboBox:on{selection-background-color: #0579C7;}
QComboBox:!on{selection-background-color:#0579C7; color:#fff;}
QComboBox::drop-down{border:none;width:0;}
QComboBox::down-arrow{border-style:none;}
QListView{background: #000;color:#fff;border:none}

QScrollBar{background:#999;width: 10px;}
QScrollBar::handle{background:#999;border:0;}
QScrollBar::handle:hover{background:#0579C7;}
QScrollBar::sub-page{background:#fff;}
QScrollBar::add-page{background:#fff;}

QSlider::groove:horizontal{height: 2px;background: #eee;}
QSlider::handle:horizontal {background: #ddd;width: 8px;margin: -3px 0;border-radius: 4px;}
QSlider::add-page:horizontal{background: #333;}
QSlider::sub-page:horizontal{background: #0579C7;}

QLabel#labelBg{background-color: #000;border-radius:4px;}
QLabel#labelImage{background-image: url(:/image/logo.png);}
QLabel#labelName{color: #fff;font-weight:bold;}
QLabel#labelCurrentTime{color: #fff;font-weight:bold;}
QLabel#labelVersion{color: #fff;font-weight:bold;}
QLabel#labelAuthor{color: #999;font-weight:bold;}
QLabel#labelTotalTime{color: #999;font-weight:bold;}
QLabel#labelMessage{color: #0579C7;font-weight:bold;}
QLabel#labelTotalTime_2{color: #666;font-weight:bold;}
QLabel#labelTotalTime_3{color: #fff;font-weight:bold;}
QLabel#labelVolumeSmall{background-image: url(:/image/volume_small.png);}

QPushButton#buttonPre{border-image: url(:/image/button_pre.png);}
QPushButton#buttonNext{border-image: url(:/image/button_next.png);}
QPushButton#buttonPlay{border-image: url(:/image/button_play.png);}
QPushButton#buttonPlayMode{border-image: url(:/image/playmode_sequence.png);}
QPushButton#buttonRefresh{border-image: url(:/image/refresh.png);}
QPushButton#buttonRefresh:hover{border-image: url(:/image/refresh_mouseover.png);}

QPushButton#pushButtonDownloadDir{border: none;color:#fff;background:transparent;font-weight:bold;}
QPushButton#pushButtonOpenDir{border: none;color:#fff;background:transparent;text-align:left;font-weight:bold;}

QTableWidget{selection-background-color:#9ED3FE;selection-color:#000}
